node_modules
.env
coverage
coverage.json
typechain
typechain-types

#Hardhat files
cache
artifacts


node_modules
.env
coverage
coverage.json
typechain
typechain-types

#Hardhat files
cache
artifacts

akx-labs-medias/
data/abi/@openzeppelin/contracts-upgradeable/proxy/beacon/IBeaconUpgradeable.sol/IBeaconUpgradeable.json
data/abi/@openzeppelin/contracts-upgradeable/proxy/ERC1967/ERC1967UpgradeUpgradeable.sol/ERC1967UpgradeUpgradeable.json
data/abi/@openzeppelin/contracts-upgradeable/proxy/utils/Initializable.sol/Initializable.json
data/abi/@openzeppelin/contracts-upgradeable/proxy/utils/UUPSUpgradeable.sol/UUPSUpgradeable.json
data/abi/@openzeppelin/contracts-upgradeable/security/ReentrancyGuardUpgradeable.sol/ReentrancyGuardUpgradeable.json
data/abi/@openzeppelin/contracts-upgradeable/utils/ContextUpgradeable.sol/ContextUpgradeable.json
data/abi/@openzeppelin/contracts-upgradeable/utils/introspection/ERC165StorageUpgradeable.sol/ERC165StorageUpgradeable.json
data/abi/@openzeppelin/contracts-upgradeable/utils/introspection/ERC165Upgradeable.sol/ERC165Upgradeable.json
data/abi/@openzeppelin/contracts-upgradeable/utils/introspection/IERC165Upgradeable.sol/IERC165Upgradeable.json
data/abi/@openzeppelin/contracts/access/AccessControl.sol/AccessControl.json
data/abi/@openzeppelin/contracts/access/AccessControlEnumerable.sol/AccessControlEnumerable.json
data/abi/@openzeppelin/contracts/access/IAccessControl.sol/IAccessControl.json
data/abi/@openzeppelin/contracts/access/IAccessControlEnumerable.sol/IAccessControlEnumerable.json
data/abi/@openzeppelin/contracts/access/Ownable.sol/Ownable.json
data/abi/@openzeppelin/contracts/interfaces/draft-IERC1822.sol/IERC1822Proxiable.json
data/abi/@openzeppelin/contracts/interfaces/IERC1271.sol/IERC1271.json
data/abi/@openzeppelin/contracts/interfaces/IERC4626.sol/IERC4626.json
data/abi/@openzeppelin/contracts/metatx/ERC2771Context.sol/ERC2771Context.json
data/abi/@openzeppelin/contracts/metatx/MinimalForwarder.sol/MinimalForwarder.json
data/abi/@openzeppelin/contracts/proxy/beacon/BeaconProxy.sol/BeaconProxy.json
data/abi/@openzeppelin/contracts/proxy/beacon/IBeacon.sol/IBeacon.json
data/abi/@openzeppelin/contracts/proxy/beacon/UpgradeableBeacon.sol/UpgradeableBeacon.json
data/abi/@openzeppelin/contracts/proxy/ERC1967/ERC1967Upgrade.sol/ERC1967Upgrade.json
data/abi/@openzeppelin/contracts/proxy/Proxy.sol/Proxy.json
data/abi/@openzeppelin/contracts/security/Pausable.sol/Pausable.json
data/abi/@openzeppelin/contracts/token/ERC20/ERC20.sol/ERC20.json
data/abi/@openzeppelin/contracts/token/ERC20/extensions/draft-ERC20Permit.sol/ERC20Permit.json
data/abi/@openzeppelin/contracts/token/ERC20/extensions/draft-IERC20Permit.sol/IERC20Permit.json
data/abi/@openzeppelin/contracts/token/ERC20/extensions/ERC20Burnable.sol/ERC20Burnable.json
data/abi/@openzeppelin/contracts/token/ERC20/extensions/ERC20Pausable.sol/ERC20Pausable.json
data/abi/@openzeppelin/contracts/token/ERC20/extensions/ERC4626.sol/ERC4626.json
data/abi/@openzeppelin/contracts/token/ERC20/extensions/IERC20Metadata.sol/IERC20Metadata.json
data/abi/@openzeppelin/contracts/token/ERC20/IERC20.sol/IERC20.json
data/abi/@openzeppelin/contracts/token/ERC20/presets/ERC20PresetMinterPauser.sol/ERC20PresetMinterPauser.json
data/abi/@openzeppelin/contracts/token/ERC721/ERC721.sol/ERC721.json
data/abi/@openzeppelin/contracts/token/ERC721/extensions/ERC721Enumerable.sol/ERC721Enumerable.json
data/abi/@openzeppelin/contracts/token/ERC721/extensions/ERC721URIStorage.sol/ERC721URIStorage.json
data/abi/@openzeppelin/contracts/token/ERC721/extensions/IERC721Enumerable.sol/IERC721Enumerable.json
data/abi/@openzeppelin/contracts/token/ERC721/extensions/IERC721Metadata.sol/IERC721Metadata.json
data/abi/@openzeppelin/contracts/token/ERC721/IERC721.sol/IERC721.json
data/abi/@openzeppelin/contracts/token/ERC721/IERC721Receiver.sol/IERC721Receiver.json
data/abi/@openzeppelin/contracts/utils/introspection/ERC165.sol/ERC165.json
data/abi/@openzeppelin/contracts/utils/introspection/IERC165.sol/IERC165.json
data/abi/contracts/AKXEcosystemRouter.sol/AKXEcosystemRouter.json
data/abi/contracts/AKXEcosystemRouter.sol/AKXRoutes.json
data/abi/contracts/AKXGuardian.sol/AKXBaconMmmBaaaacon.json
data/abi/contracts/AKXGuardian.sol/AKXBeaconsRepository.json
data/abi/contracts/AKXGuardian.sol/AKXGuardian.json
data/abi/contracts/AKXPrivateSale.sol/PrivateSale.json
data/abi/contracts/AKXPsACL.sol/AKXPsACL.json
data/abi/contracts/AKXResolver.sol/AKXResolver.json
data/abi/contracts/AKXResolver.sol/AKXResolverBase.json
data/abi/contracts/dna/DnaConsensus.sol/DnaConsensus.json
data/abi/contracts/dna/DnaConsensus.sol/DnaConsensusRounds.json
data/abi/contracts/dna/IDna.sol/IDna.json
data/abi/contracts/dna/IDna.sol/IDnaConsensus.json
data/abi/contracts/fees/FeesManager.sol/FeeManager.json
data/abi/contracts/IAKXResolver.sol/IAKXResolver.json
data/abi/contracts/repositories/entities/EvolvingBadges.sol/AKXBadges.json
data/abi/contracts/repositories/entities/EvolvingBadges.sol/IAKXBadgesMetadata.json
data/abi/contracts/repositories/entities/Resource.sol/Resource.json
data/abi/contracts/repositories/ResourcesRepository.sol/ResourcesRepository.json
data/abi/contracts/repositories/UsersFactory.sol/UsersFactory.json
data/abi/contracts/repositories/UsersRegistry.sol/UsersRegistry.json
data/abi/contracts/sales/criterias/CriteriaFactory.sol/CriteriaFactory.json
data/abi/contracts/sales/criterias/CriteriaLogic.sol/CriteriaBuySell.json
data/abi/contracts/sales/criterias/CriteriaLogic.sol/CriteriaLogic.json
data/abi/contracts/sales/criterias/CriteriaLogic.sol/CriteriaStates.json
data/abi/contracts/sales/interfaces/IERC4973Permit.sol/IERC4973Permit.json
data/abi/contracts/sales/interfaces/ISalesRules.sol/ISalesRules.json
data/abi/contracts/sales/lib/ERC4973.sol/ERC165.json
data/abi/contracts/sales/lib/ERC4973.sol/ERC4973.json
data/abi/contracts/sales/lib/ERC4973.sol/IERC165.json
data/abi/contracts/sales/lib/ERC4973.sol/IERC4973.json
data/abi/contracts/sales/lib/ERC4973.sol/IERC721Metadata.json
data/abi/contracts/sales/lib/ERC4973Permit.sol/ERC4973Permit.json
data/abi/contracts/sales/lib/SalesStates.sol/SalesStates.json
data/abi/contracts/sales/PrivateSale.sol/PrivateSale.json
data/abi/contracts/sales/SalesBaseContract.sol/SalesBaseContract.json
data/abi/contracts/sales/SalesRulesBaseContract.sol/SalesRulesBaseContract.json
data/abi/contracts/setup/ISetup.sol/ISetup.json
data/abi/contracts/tokens/Badges.sol/Badges.json
data/abi/contracts/tokens/BaseERC20.sol/BaseSafeERC20.json
data/abi/contracts/tokens/CollateralizedVault.sol/CollateralizedVault.json
data/abi/contracts/tokens/configurator/BaseSafeERC20Configurator.sol/BaseSafeERC20Configurator.json
data/abi/contracts/tokens/configurator/interface/IBaseSafeERC20Configurator.sol/IBaseSafeERC20Configurator.json
data/abi/contracts/tokens/extensions/Bridgeable.sol/Bridgeable.json
data/abi/contracts/tokens/Labz.sol/Labz.json
data/abi/contracts/tokens/Lock.sol/Lock.json
data/abi/contracts/tokens/operators/bridgeOperator.sol/BridgeOperator.json
data/abi/contracts/tokens/operators/bridgeOperator.sol/IBridgeOperator.json
data/abi/contracts/tokens/VipBadge.sol/VipBadge.json
data/abi/contracts/utils/acl/BaseRoles.sol/BaseRoles.json
data/abi/contracts/utils/acl/interfaces/draft-IRBAC.sol/IRBAC.json
data/abi/contracts/utils/acl/RBAC.sol/RBAC.json
data/abi/contracts/utils/ContractIdentifier.sol/ContractIdentifer.json
data/abi/contracts/utils/draft-EmergencyBreak.sol/EmergencyBreak.json
data/abi/contracts/utils/draft-IEmergencyBreak.sol/IEmergencyBreak.json
data/abi/contracts/utils/ERC1271.sol/ERC1271.json
data/abi/contracts/utils/IERC1271.sol/IERC1271.json
deploy/001_deploy_core.ts
deploy/002_deploy_resources.ts
deployments/localhost/.chainId
deployments/localhost/ResourcesRepository.json
deployments/localhost/solcInputs/395cc9db20541f9415f28c6b8e2eea02.json
helpers/iid.ts
helpers/ResourcesRepository.log
